<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" />
    <title>Home CRUD</title>
</head>
<body>
    <a th:href="@{/showNewUserForm}">Add employee</a>
    <h2>Search Users By Birthday</h2>
    <form th:action="@{/searchUsersByBirthday}" method="get">
        <label for="fromDate">From:</label>
        <input type="date" id="fromDate" name="fromDate" required max="2006-01-01">
        <label for="toDate">To:</label>
        <input type="date" id="toDate" name="toDate" required max="2006-01-01">
        <button type="submit">Search</button>
    </form>
    <table border="3">
        <thead>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir='+ ${reverseSortDir} }">id</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir='+ ${reverseSortDir} }">email</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir='+ ${reverseSortDir} }">name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=surName&sortDir='+ ${reverseSortDir} }">surname</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=birthday&sortDir='+ ${reverseSortDir} }">birthday</a>
            </th>
            <th>
                Action1
            </th>
            <th>
                Action2
            </th>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">

                <td th:text="${user.id}"></td >
                <td th:text="${user.email}"></td >
                <td th:text="${user.name}"></td>
                <td th:text="${user.surName}"></td >
                <td th:text="${user.birthday}"></td>
                <td>
                    <a th:href="@{/showFormForUpdate/{id}(id=${user.id})}">Update</a>
                </td>
                <td>
                    <a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        TotalRows : [[${totalItems}]]
    </div>
    <div>
        <span th:each="i : ${#numbers.sequence(1,totalPages)}">
            <a th:if="${currentPage != i && i!= 0}" th:href="@{'/page/'+ ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }" >[[${i}]] </a>
            <a th:unless="${currentPage != i}">[[${i}]]</a>
        </span>
    </div>
    <div>
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }">Next</a>
        <a th:unless="${currentPage < totalPages}">Next</a>
    </div>
    <div>
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages } + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"> Last </a>
        <a th:unless="${currentPage < totalPages}">Last</a>
    </div>
</body>
</html>