<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
</head>

<body>
    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">
        <input type="text" th:field="*{email}" placeholder="change your email ">
        <div th:if="${emailError}" class="error-message">
            <span th:text="${emailError}"></span>
        </div>
        <input type="text" th:field="*{name}" placeholder="change your name ">
        <input type="text" th:field="*{surName}" placeholder="change your surname ">
        <input type="date" th:field="*{birthday}" placeholder="YYYY-MM-DD" max="2006-01-01" />

        <button type="submit">Save</button>
    </form>
</body>

</html>